@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");
@import "tailwindcss";

@theme inline {
  --color-faith: #22aeee;
  --font-poppins: "Roboto Mono", sans-serif;
}
* {
  @apply box-border;
}
body {
  @apply font-poppins;
}
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
  background-size: 200% 100%;
  opacity: 0.7;
}
